public/html/landingPage.html
<!DOCTYPE html>
<!-- saved from url=(0058)https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/ -->
<html lang="en" class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="ztapps">
        <link rel="shortcut icon" href="https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/favicon.ico">
        <title>ConnR App</title>
        
        <!-- Fonts -->
        <link href="../stylesheets" rel="stylesheet" type="text/css">
        
        
        <!-- CSS Files -->
        <link href="https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/css/bootstrap.css" rel="stylesheet" media="screen">
        <link href="https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/css/magnific-popup.css" rel="stylesheet">
        <link href="/stylesheets/circulus.css" rel="stylesheet">
    </head>
    
    <body style="">
        
                 
 <nav class="navbar" role="navigation" style="margin-bottom:-10px">
                    <div class="container">
                        <div class="">
                            <a class="navbar-brand img-responsive visible-xs" href="/">
                                <img src="/images/log.jpg" style="margin-top:0px;" width="200">
                            </a> 
                        </div>
                        <div class="" id="">
                            <ul class="" id="" style="color:black;margin-top:25px; margin-left:70%">
                                <li style="color:black;"> <a href="/api/admin/general/login" class="btn btn-2">
                                                    LOGIN</a> &nbsp;
                                                   
                                <li style="color:black;"> <a href="/api/admin/general/signup" class="btn btn-2">
                                                    SIGNUP</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.container -->
                </nav>
           
            <header id="home">
            <div id="carousel-main" class="carousel slide">
                
                <ol class="carousel-indicators">
                    <li data-target="#carousel-main" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-main" data-slide-to="1" class=""></li>
                    <li data-target="#carousel-main" data-slide-to="2" class=""></li>
                    <li data-target="#carousel-main" data-slide-to="3" class=""></li>
                   
                </ol>
                
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    
                    <div class="item active">
                        
                        <img src="/images/image1.jpeg" class="bg" alt="">
                        
                        <div class="container" style="padding:60px 0;">
                            
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 left">
                                <div class="iphone-5-container device-container">
                                    <img src="/images/image1.jpeg" alt="">
                                </div>
                            </div>
                            
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 right">
                                <div class="row text-center">
                                    <div class="col-lg-12">
                                        
                                        <h1 class="title">ConnR</h1>
                                        <h2>Helping you offer more to your customers</h2>
                                        <p>ConnR is a technology company that enables you to implement Information Technology in a scalable way at price-points that are competitive and make sense for you. </p>
                                        
                                       
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <div class="item">
                        <div class="container" style="padding:60px 0;">
                            
                            <img src="/images/image2.jpg" class="bg" alt="">
                            
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 left">
                                <div class="nexus-4-container device-container">
                                    <img src="./landingPage_files/nexus-4-screen.jpg" alt="">
                                </div>
                            </div>
                            
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 right">
                                <div class="row text-center">
                                    <div class="col-lg-12">
                                        
                                         <h1 class="title">INTERACT</h1>
                                        <h2>Engage interested customers</h2>
                                        <p>Customers can visit your store and subscribe to future offerings. Using this goodwill, build campaigns to further engage them and keep a loyal customer base.</p>
                                        
                                      
                                        
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <div class="item">
                        <div class="container" style="padding:60px 0;">
                            
                            <img src="/images/image3.jpg" style="position:absolute;top:0;left:0;height:auto;width:100%;z-index:-1;" class="bg" alt="">
                            
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 left">
                                <div class="lumia-900-container device-container">
                                    <img src="./landingPage_files/lumia-900-screen.jpg" alt="">
                                </div>
                            </div>
                            
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 right">
                                <div class="row text-center">
                                    <div class="col-lg-12">
                                        
                                    <h1 class="title">INCREASE EFFICIENCY</h1>
                                        <h2>Use data and real-time marketing</h2>
                                        <p>We help you send details on real-time offers and measure your marketing efficiency. Using feedback from the same, we also help you optimize future offers for better conversion.</p>
                                      
                                        
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <div class="item">
                        <div class="container" style="padding:60px 0;">
                            
                            <img src="/images/image4.jpg" class="bg" alt="">
                            
                            <div class="col-xs-6 col-sm-7 col-md-6 col-lg-7 left">
                                <div class="ipad-container device-container">
                                    <img src="./landingPage_files/ipad-screen.jpg" alt="">
                                </div>
                            </div>
                            
                            <div class="col-xs-6 col-sm-5 col-md-6 col-lg-5 right">
                                <div class="row text-center">
                                    <div class="col-lg-12">
                                        
                                        <h1 class="title">PARTNER</h1>
                                        <h2>Get a partner whose success is correlated to yours</h2>
                                        <p>At ConnR, we believe that a one-time sales model is not effective with rapidly changing technology standards. Therefore we only offer our platform as a service so that you get access to all improvements and itertions of our technology and UI platform.</p>
                                        
                                    
                                        
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </header>
        
        <section id="features">
            <div class="container">
                <div class="row">
                    
                    <div class="col-lg-12" style="margin-bottom:30px;">
                        <h3 style="margin-top:0;color:gray;">ConnR for businesses</h3>
                        <h2>Here's how ConnR can help you grow your business </h2>
                    </div>
                    
		    <div class="col">
                      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 f-item">
                        <i class="icon-comments"></i>
                        <h3>Engage your customers</h3>
                        <p>Connect with your customers painlessly. Keep them informed of all the latest offers and deals at their favorite store!</p>
                      </div>
                      
                      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 f-item">
                        <i class="icon-mobile-phone"></i>
                        <h3>Multiplatform support</h3>
                        <p>Reach out to your customers on all popular platforms including Android and iOS. These constitute >80% of the smartphone market in India</p>
                      </div>
		      
		      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 f-item">
                        <i class="icon-cloud"></i>
                        <h3>Cloud based</h3>
                        <p>Our platform is always-on with very little down time and well protected. Your data is secure with us and available wherever you want it to be.</p>
                      </div>
		    </div>
		    <div class="col">
                      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 f-item">
                        <i class="icon-dashboard"></i>
                        <h3>Customer analytics</h3>
                        <p>Access our rich database of customer analytics that can help you drive sales, manage your inventory and drive customer engagement.</p>
                      </div>
		      
                      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 f-item">
                        <i class="icon-desktop"></i>
                        <h3>Software-as-a-service</h3>
                        <p>No special installation or hardware required, regularly updated with new features and supported by a world class team.</p>
                      </div>
		      
		      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 f-item">
                        <i class="icon-dollar"></i>
                        <h3>Simple subscription model</h3>
			<p>No hidden costs and you can cancel your subscription anytime. This ensures that you only pay if you are satisfied.</p>
		      </div>
		    </div>
                </div>
            </div>
        </section>
        
        <section id="screenshots">
            <div class="container">
                <div class="popup-gallery-screens row">
                    
                    <div class="col-lg-12" style="margin-bottom:30px;">
                        <h2>Download our Apps here</h2>
                    </div>
                    
                    <div class="col-lg-12" style="text-align:center; font-size: 5em;" >
                        <a href="https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/#" >
                        <i class="icon-apple"></i></a>
                        <a href="https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/#">
                        <i class="icon-android"></i>
                    </a>
                    </div>
                    
                    
                </div>
            </div>
        </section>
        
        <section id="contact">
            
            <div class="container">
                <div class="row">
                    
                    <div class="col-lg-12" style="text-align:center;margin-bottom:30px;">
                        <h3 style="margin:0;">CONTACT US</h3>
                        <h2>Tell Us What You Think!</h2>
                    </div>
                    
                  
                        <div class="col-lg-12" style="text-align:center;">
                        <a data-toggle="modal" href="https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/#contactModal" class="btn btn-2" style="margin:0 auto;">CONTACT US</a>
                    </div>
                    

                </div>
            </div>
            
            <!-- Modal -->
            <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 class="modal-title" style="color:#555">Contact Form</h3>
                        </div>
                        
                        <div class="modal-body">
                            
                            <form class="form-horizontal" role="form" name="contactForm" id="contact_form" method="post" action="https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/email.php">
                                <div class="form-group">
                                    <label for="name" class="control-label">Name*</label>
                                    <input type="text" class="form-control" name="name" id="name" placeholder="What is your name?">
                                    <div id="name_error" class="error">Please enter your name.</div>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="control-label">Email*</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="What is your email address?">
                                    <div id="email_error" class="error">Please enter your valid email address.</div>
                                </div>
                                <div class="form-group">
                                    <label for="subject" class="control-label">Subject*</label>
                                    <input type="text" class="form-control" id="subject" name="subject" placeholder="Please enter the subject.">
                                    <div id="subject_error" class="error">Please enter the subject.</div>
                                </div>
                                <div class="form-group">
                                    <label for="message" class="control-label">Message*</label>
                                    <textarea class="form-control" rows="5" id="message" name="message" placeholder="What do you want to tell us?"></textarea>
                                    <div id="message_error" class="error">Please enter your message.</div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-3 col-lg-6 text-center">
                                        <div id="mail_success" class="success">Your message has been sent successfully.</div>
                                        <div id="mail_fail" class="error">Sorry, error occured this time sending your message.</div>
                                        <span id="submit">
                                            <input type="submit" class="btn btn-2" id="send_message" value="Send Message">
                                        </span>
                                    </div>
                                </div>
                            </form>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
            
        </section>
        
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-push-6">
                        <ul>
                            <li>
                                <a href="https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/#" target="_blank">
                                    <i class="icon-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/#" target="_blank">
                                    <i class="icon-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/#" target="_blank">
                                    <i class="icon-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-lg-pull-6">
                        <h5>© Copyright 2014 -
                            <a href="http://connr.us/">CONNR LLC</a>
                        </h5>
                    </div>
                </div>
            </div>
        </footer>
        
        <!-- Javascripts -->

        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
        <script src="/javascripts/landingPage/polyfills.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/0.9.9/jquery.magnific-popup.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="/javascripts/landingPage/main.js"></script>

</body>
</html>

views/landingPage.jade
doctype html
html.js.flexbox.canvas.canvastext.webgl.no-touch.geolocation.postmessage.websqldatabase.indexeddb.hashchange.history.draganddrop.websockets.rgba.hsla.multiplebgs.backgroundsize.borderimage.borderradius.boxshadow.textshadow.opacity.cssanimations.csscolumns.cssgradients.cssreflections.csstransforms.csstransforms3d.csstransitions.fontface.generatedcontent.video.audio.localstorage.sessionstorage.webworkers.applicationcache.svg.inlinesvg.smil.svgclippaths(lang='en')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0')
		meta(name='description', content='')
		meta(name='keywords', content='')
		meta(name='author', content='ztapps')
		link(rel='shortcut icon', href='https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/favicon.ico')
		title ConnR App
		link(href='../stylesheets', rel='stylesheet', type='text/css')
		link(href='https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/css/bootstrap.css', rel='stylesheet', media='screen')
		link(href='https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/css/font-awesome.min.css', rel='stylesheet')
		link(href='https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/css/magnific-popup.css', rel='stylesheet')
		link(href='https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/css/style.css', rel='stylesheet')
	body(style='')
		header#home
			#carousel-main.carousel.slide
				ol.carousel-indicators
					li.active(data-target='#carousel-main', data-slide-to='0')
					li.(data-target='#carousel-main', data-slide-to='1')
					li.(data-target='#carousel-main', data-slide-to='2')
					li.(data-target='#carousel-main', data-slide-to='3')
					li.(data-target='#carousel-main', data-slide-to='4')
				//
					 Wrapper for slides 
				.carousel-inner
					.item
						img.bg(src='./landingPage_files/bg-1.jpg', alt='')
						.container(style='padding: 60px 0;')
							.col-xs-6.col-sm-6.col-md-6.col-lg-6.left
								.iphone-5-container.device-container
									img(src='./landingPage_files/iphone-5-screen.jpg', alt='')
							.col-xs-6.col-sm-6.col-md-6.col-lg-6.right
								.row.text-center
									.col-lg-12
										h1.title ConnR
										h2 Helping you offer more to your customers
										p
											| ConnR is a technology company that enables you to implement Information Technology in a scalable way at price-points that are competitive and make sense for you.
										.row.text-center
											.col-lg-12
												a.btn.btn-1(href='https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/#')
													i.icon-apple
													| PURCHASE
					.item
						.container(style='padding: 60px 0;')
							img.bg(src='./landingPage_files/bg-2.jpg', alt='')
							.col-xs-6.col-sm-6.col-md-6.col-lg-6.left
								.nexus-4-container.device-container
									img(src='./landingPage_files/nexus-4-screen.jpg', alt='')
							.col-xs-6.col-sm-6.col-md-6.col-lg-6.right
								.row.text-center
									.col-lg-12
										h1.title INTERACT
										h2 Engage interested customers
										p
											| Customers can visit your store and subscribe to future offerings. Using this goodwill, build campaigns to further engage them and keep a loyal customer base.
										.row.text-center
											.col-lg-12
												a.btn.btn-1(href='https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/#')
													i.icon-android
													| PURCHASE
					.item
						.container(style='padding: 60px 0;')
							img.bg(src='./landingPage_files/bg-3.jpg', style='position: absolute; top: 0; left: 0; height: auto; width: 100%; z-index: -1;', alt='')
							.col-xs-6.col-sm-6.col-md-6.col-lg-6.left
								.lumia-900-container.device-container
									img(src='./landingPage_files/lumia-900-screen.jpg', alt='')
							.col-xs-6.col-sm-6.col-md-6.col-lg-6.right
								.row.text-center
									.col-lg-12
										h1.title INCREASE EFFICIENCY
										h2 Use data and real-time marketing
										p
											| We help you send details on real-time offers and measure your marketing efficiency. Using feedback from the same, we also help you optimize future offers for better conversion.
										.row.text-center
											.col-lg-12
												a.btn.btn-1(href='https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/#')
													i.icon-windows
													| PURCHASE
					.item
						.container(style='padding: 60px 0;')
							img.bg(src='./landingPage_files/bg-4.jpg', alt='')
							.col-xs-6.col-sm-7.col-md-6.col-lg-7.left
								.ipad-container.device-container
									img(src='./landingPage_files/ipad-screen.jpg', alt='')
							.col-xs-6.col-sm-5.col-md-6.col-lg-5.right
								.row.text-center
									.col-lg-12
										h1.title PARTNER
										h2 Get a partner whose success is correlated to yours
										p
											| At ConnR, we believe that a one-time sales model is not effective with rapidly changing technology standards. Therefore we only offer our platform as a service so that you get access to all improvements and itertions of our technology and UI platform.
										.row.text-center
											.col-lg-12
												a.btn.btn-1(href='https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/#')
													i.icon-apple
													| PURCHASE
					.item.active
						.container(style='padding: 60px 0;')
							img.bg(src='./landingPage_files/bg-5.jpg', alt='')
							.col-xs-6.col-sm-7.col-md-6.col-lg-7.left
								.surface-container.device-container
									img(src='./landingPage_files/surface-screen.jpg', alt='')
							.col-xs-6.col-sm-5.col-md-6.col-lg-5.right
								.row.text-center
									.col-lg-12
										h1.title CIRCULUS
										h2 Responsive App Landing Page
										p
											| Showcase your hard work with our HTML5 app landing page. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, maiores sint possimus distinctio tenetur in magni animi pariatur sed.
										.row.text-center
											.col-lg-12
												a.btn.btn-1(href='https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/#')
													i.icon-apple
													| PURCHASE
		section#features
			.container
				.row
					.col-lg-12(style='margin-bottom: 30px;')
						h3(style='margin-top: 0; color: gray;') ConnR for businesses
						h2 Here's how ConnR can help you grow your business 
					.col-xs-12.col-sm-6.col-md-4.col-lg-4.f-item
						i.icon-comments
						h3 Engage your customers
						p
							| Connect with your customers painlessly using our easy-to-use platform. Keep them informed of all the latest offers and deals at their favorite store!
					.col-xs-12.col-sm-6.col-md-4.col-lg-4.f-item
						i.icon-mobile-phone
						h3 Multiplatform support
						p We support all popular platforms such as Android and iPhone
					.col-xs-12.col-sm-6.col-md-4.col-lg-4.f-item
						i.icon-dashboard
						h3 Customer analytics
						p
							| Access our rich database of customer analytics that can help you drive sales, manage your inventory and drive customer engagement. Understand customer behavior so you can devise individual reward programs at scale.
					.col-xs-12.col-sm-6.col-md-4.col-lg-4.f-item
						i.icon-desktop
						h3 Software-as-a-service
						p
							| No special installation or hardware required. Get access to a system that is regularly updated with new features and supported by a world class team. No hidden costs and you can cancel your subscription anytime.
		section#screenshots
			.container
				.popup-gallery-screens.row
					.col-lg-12(style='margin-bottom: 30px;')
						h3(style='margin-top: 0; color: #1C7E3B;') SCREENSHOTS
						h2 Check Out Our App In Action
					.col-xs-12.col-sm-3.col-md-3.col-lg-3
						a(href='http://dribbble.s3.amazonaws.com/users/2733/screenshots/606745/attachments/49020/infographic-dribbble-large.png', title='Screenshot 1')
							.pic
								img(src='./landingPage_files/infographic-dribbble.png', alt='')
					.col-xs-12.col-sm-3.col-md-3.col-lg-3
						a(href='http://dribbble.s3.amazonaws.com/users/2733/screenshots/609727/attachments/49521/Featured_2x.png', title='Screenshot 2')
							.pic
								img(src='./landingPage_files/featured-dribbble.png', alt='')
					.col-xs-12.col-sm-3.col-md-3.col-lg-3
						a(href='http://dribbble.s3.amazonaws.com/users/2733/screenshots/606745/attachments/49020/infographic-dribbble-large.png', title='Screenshot 3')
							.pic
								img(src='./landingPage_files/infographic-dribbble.png', alt='')
					.col-xs-12.col-sm-3.col-md-3.col-lg-3
						a(href='http://dribbble.s3.amazonaws.com/users/2559/screenshots/889914/attachments/96674/big.png', title='Screenshot 4')
							.pic
								img(src='./landingPage_files/screen_shot_2013-01-10_at_9.54.14_pm.png', alt='')
		section#additional
			div(style='width: 96%; margin: 0 auto;')
				.row(style='padding-bottom: 0;')
					.col-lg-6.col-lg-push-1(style='position: relative; z-index: 1;')
						h3 CRAFTED BEAUTIFULLY
						h2 Attention To Every Last Detail
						a.btn.btn-1(href='https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/#', style='margin-left: 0; margin-right: 0;')
							i.icon-shopping-cart
							| PURCHASE
					.col-lg-6.col-lg-pull-1(style='position: relative; z-index: 0;')
						img(src='./landingPage_files/iphone_white_angle1.png', alt='')
		section#contact
			.container
				.row
					.col-lg-12(style='text-align: center; margin-bottom: 30px;')
						h3(style='margin: 0;') CONTACT US
						h2 Tell Us What Is On Your Mind
					.col-lg-12(style='text-align: center;')
						a.btn.btn-2(data-toggle='modal', href='https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/#contactModal', style='margin: 0 auto;') CONTACT US
			//
				 Modal 
			#contactModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='contactModal', aria-hidden='true')
				.modal-dialog
					.modal-content
						.modal-header
							button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
							h3.modal-title(style='color: #555;') Contact Form
							form#contact_form.form-horizontal(role='form', name='contactForm', method='post', action='https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/email.php')
								.form-group
									label.control-label(for='name') Name*
									input#name.form-control(type='text', name='name', placeholder='What is your name?')
									#name_error.error Please enter your name.
								.form-group
									label.control-label(for='email') Email*
									input#email.form-control(type='email', name='email', placeholder='What is your email address?')
									#email_error.error Please enter your valid email address.
								.form-group
									label.control-label(for='subject') Subject*
									input#subject.form-control(type='text', name='subject', placeholder='Please enter the subject.')
									#subject_error.error Please enter the subject.
								.form-group
									label.control-label(for='message') Message*
									textarea#message.form-control(rows='5', name='message', placeholder='What do you want to tell us?')
									#message_error.error Please enter your message.
								.form-group
									.col-lg-offset-3.col-lg-6.text-center
										#mail_success.success Your message has been sent successfully.
										#mail_fail.error Sorry, error occured this time sending your message.
										span#submit
											input#send_message.btn.btn-2(type='submit', value='Send Message')
		footer
			.container
				.row
					.col-lg-6.col-lg-push-6
						ul
							li
								a(href='https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/#', target='_blank')
									i.icon-facebook
							li
								a(href='https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/#', target='_blank')
									i.icon-twitter
							li
								a(href='https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/#', target='_blank')
									i.icon-youtube-play
							li
								a(href='https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/#', target='_blank')
									i.icon-linkedin
							li
								a(href='https://googledrive.com/host/0Bza3emUujzWYVWk0VU9MT2lOOE0/#', target='_blank')
									i.icon-dribbble
					.col-lg-6.col-lg-pull-6
						h5
							| © Copyright 2014 -
							a(href='http://connr.us/') Connr.us LLC
		//
			 Javascripts 
		script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js')
		script(src='../javascripts/landingPage/polyfills.js')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/0.9.9/jquery.magnific-popup.min.js')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js')
		script(src='../javascripts/landingPage/main.js')
